@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Bold.woff2") format("woff2"),
    url("/fonts/Satoshi-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-MediumItalic.woff2") format("woff2"),
    url("/fonts/Satoshi-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-BlackItalic.woff2") format("woff2"),
    url("/fonts/Satoshi-BlackItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-LightItalic.woff2") format("woff2"),
    url("/fonts/Satoshi-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Medium.woff2") format("woff2"),
    url("/fonts/Satoshi-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-BoldItalic.woff2") format("woff2"),
    url("/fonts/Satoshi-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Italic.woff2") format("woff2"),
    url("/fonts/Satoshi-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Black.woff2") format("woff2"),
    url("/fonts/Satoshi-Black.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Regular.woff2") format("woff2"),
    url("/fonts/Satoshi-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Light.woff2") format("woff2"),
    url("/fonts/Satoshi-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* font-family: 'Inter', sans-serif;

font-family: 'Open Sans', sans-serif; */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Satoshi;
}
html,
body {
  color: #fff;
  font-family: Satoshi;
  background: #303030;
}
header.mui-fixed {
  position: fixed;
  &::before {
    position: absolute;
    top: 0px;
    left: -100px;
    width: 100%;
    height: 100%;
    background: #e2e2e2;
  }
}
.css-pr23xdf {
  background: #252525;
  width: 100%;
  height: 100%;
}
.css-mrkt23plc2pgs {
  background: #252525;
  width: 100%;
  height: 100%;
  position: relative;
  &::before {
    content: "";
    position: fixed;
    top: 0%;
    left: 0px;
    width: 100px;
    height: 120px;
    background: #303030;
    z-index: 9999;
  }
}
.css-edtw23plc2st {
  background: #252525;
  width: 100%;
  height: 100%;
  &::before {
    content: "";
    position: fixed;
    top: 0%;
    left: 0px;
    width: 100px;
    height: 120px;
    background: #303030;
    z-index: 9999;
  }
}
.slick-prev {
  top: 95% !important;
  left: 46% !important;
  transform: translate(-50%, -50%) !important;
  /* top: 110% !important; */
}
.slick-next {
  top: 95% !important;
  left: 54% !important;
  transform: translate(-50%, -50%) !important;
  /* top: 110% !important; */
}
.slick-slider {
  height: 60vh !important;
}
.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 85% !important;
}
.slick-track {
  height: 100% !important;
}
.slick-slide {
  border: 3px solid rgba(255, 255, 255, 0.6) !important;
  height: 100% !important;
}
.slick-slide > div {
  width: 100%;
  height: 100% !important;
}
.slick-slide > div span {
  width: 100% !important;
  height: 100% !important;
}
.slick-slide img {
  width: 100%;
  height: 100% !important;
  object-fit: cover;
}
.slick-prev::before,
.slick-next::before {
  font-size: 32px !important;
  opacity: 0.6 !important;
  color: white;
}
.css-12i7wg6-MuiPaper-root-MuiDrawer-paper {
  border-right: none !important;
}
.css-6hp17o-MuiList-root-MuiMenu-list {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiMenu-paper.MuiPaper-elevation8.MuiPopover-paper.css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper {
  background: #252525 !important;
  border-radius: 0px !important;
  box-shadow: 0px 0px 13px #04fcbe23;
}
